body{background-image: url(HEADER\ \(1\)\ 1.png);background-repeat: no-repeat;background-size: cover;}
img{width=90px; height=60px; margin-left: 45px; margin-top: 24px;}
*{box-sizing: border-box;}
div {margin-top: 100px; margin-left:280px;}
#img1{margin-left: 0px; }
button{margin-left: 360px; width: 177px; height: 44px;background: none; color: white; font-size: 16px;border: solid 1px white;}